<div class="container-fluid">
    <div class="auth-block">
        <div class="custom-auth">
            <app-auth-custom> </app-auth-custom>
        </div>
        <div class="forgot-password-block">
            <a href="/" title="School-Links" class="logo"><img src="./../../../../assets/imges/logos.svg"></a>
            <h2>Forgot Password?</h2>
            <p class="left-pera">Enter the email address or username associated with your account</p>
            <label for="email">Email</label>
            <mat-form-field appearance="outline" class="custom-form-field">
                <input matInput placeholder="Enter Your Email " id="email">
            </mat-form-field>
    
            <a routerLink="./../reset-password" mat-flat-button color="primary" class="btn primary-btn" title="Reset Password">Reset Password</a>
            <p>Remember your password? </p>
            <div class="auth-link">
                <a routerLink="/pages" title="Forgot Password" > Sign in</a>
            </div>

            <div class="bottom-text">
                <p>All rights reserved by <a href="/" title="School-Links">School-Links </a> |  &copy;2023</p>
            </div>
        </div>
    </div>
</div>