//Break points
@mixin bp($point) {
  
  
  $xxxxs-max: "(max-width: 375px)";
  $xs-max: "(max-width: 575px)";
  $smlg-max: "(max-width: 768px)";
  $smd-max: "(max-width: 991px)";
  $tablet-max:"(max-width: 1024px)";
  $xlg-max: "(max-width: 1280px)";
  $xxlg-max: "(max-width: 1340px)";

  @if $point==xxxxs-max {
    @media #{$xxxxs-max} {
      @content;
    }
  }
  @else if $point==xs-max {
    @media #{$xs-max} {
      @content;
    }
  }
  @else if $point==smlg-max {
    @media #{$smlg-max} {
      @content;
    }
  }
  @else if $point==smd-max {
    @media #{$smd-max} {
      @content;
    }
  }


  @else if $point==tablet-max {
    @media #{$tablet-max} {
      @content;
    }
  }


  @else if $point==xlg-max {
    @media #{$xlg-max} {
      @content;
    }
  }
  @else if $point==xxlg-max {
    @media #{$xxlg-max} {
      @content;
    }
  }
  
}