/*color variables */

$white:#fff;
$black:#000;
$auth-bg:#FDF5F5;
$primary-text:#F78F1E;
$text-color:#212121;
$gray-text:#757575;
$blue:#1D8BFA;
$body-bg:#F5F5F5;
$blur-blue:#E8F7FF;
$warn:#FF2E35;
$warn-bg:#FFF1F1;
$blue-btn:#E8F7FF;
$red-btn:#f3c0c2;
$green:#2FC10A;
$green-btn:#c4ddbd;
$perpal:#BB65FF;
$perpal-btn:#e4c8f9;
$primary-btn:#f9dec0;
$box-shadow:rgba(0, 0, 0,0.04);
$scroolbar-color: #d6d6d6;
$owerlly-color:rgba(0,0,0,0.3);
$card-border:#ECECEC;
$gray-bg:#E6E5EB;
$tab-border:#EAEAEA;
$placeholder:#979797;
$steppear-color:#606060;
$messge-bg:#F8F8F8;
$border-blue:#1E97C8;