.button-wrappers{
    position: absolute;top: 20px;
    right: 20px;
    i{
        cursor: pointer;
        padding: 5px;
        img{
            height: 20px;
            width: 20px;
        }
    }
   
}