<section class="contact-section">
    <h3>Contacts and Help</h3>
    <div class="contact-detail">
        <h4>Contact School-links Support</h4>
        <p>Contact School-lin ks for any issues with this platform.</p>

        <div class="form-details">
            <div class="input-field">
                <label for="fname"> Name</label>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <input matInput placeholder="Enter your name" id="fname">
                </mat-form-field>
            </div>


            <div class="input-field">
                <label for="email">Contact Email ID</label>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <input matInput placeholder="Enter your email ID" id="email">
                </mat-form-field>
            </div>
            <div class="input-field">
                <label for="number">Phone Number</label>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <input matInput placeholder="Enter your phone number" id="number">
                </mat-form-field>
            </div>
            <div class="input-field ">
                <label for="lname">School Name</label>
                <mat-form-field appearance="outline" class="custom-form-field ">
                    <input matInput placeholder="Enter school name" id="lname">
                </mat-form-field>
            </div>
            <div class="input-field full-field">
                <label for="lname">Subject</label>
                <mat-form-field appearance="outline" class="custom-form-field">
                    <input matInput placeholder="Enter Subject" id="lname">
                </mat-form-field>
            </div>

            <div class="input-field full-field">
                <label for="lname">Details</label>

                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Write details..." rows="5"></textarea>
                </mat-form-field>
            </div>
            <div class="btn-wrappers">
                <button mat-flat-button color="primary" class="btn primary-btn " title="Sign In" mat-button
                    mat-dialog-close>Send</button>

            </div>
        </div>
    </div>
    <div class="heading-block">
        <h3>FAQ</h3>
        <button mat-button class="blue-btn btn">
            <i> <img src="./../../../../assets//imges/book.svg" /></i> Search Our Knowledge Base Hear
        </button>
    </div>
    <div class="faq-content">
        <p>To browse this website, use the navigation area at the top of the page. If you're having trouble viewing the
            website, please ensure you are using a modern web browser (Internet Explorer, Mozilla Firefox, Google
            Chrome, Apple Safari, or Opera).
            Feel free to contact us with any issues you are having or feedback you would like to give us.
            If you’re ready to get started with School-links and have greater engagement with your school community,
            please fill out the form below and a School-links representative will respond to you. Alternatively, you can
            call 0800 333 480 to talk to our sales team.</p>
    </div>
</section>