<header>
    <div class="header">
        <div class="left-side-block">
            <div class="logo-block">
                <i>
                    <img src="./../../../assets/imges/close_icon.svg" class="close-icon" (click)="closemenu()">
                    <img src="./../../../assets/imges/open_icon.svg" class="open-icon" (click)="openmenu()">
                </i>
                <a href="/" title="School-links" class="logo laptop-in-show"><img
                        src="./../../../assets/imges/logos.svg" />
                </a>
            </div>
            <div class="profile-block">
                <i><img src="./../../../assets/imges/profile_icon.svg"> </i>
                <div class="profile-detail desktop-show">
                    <p class="sm-text bold-text">Wade Waren</p>
                    <p>wadewaren@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="right-side-block laptop-up-show">
            <a routerLink="/" class="bg-text"> <i><img src="./../../../assets/imges/school.svg"> Nodoworry
                    School</i></a>
        </div>
    </div>
</header>