@import '../../../../assets/css/main.scss';

.auth-block {
    padding: 20px 0;
    display: flex;
    margin: 0 -20px;
    height: 100vh;

    .custom-auth {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 20px;
        @include bp(xxlg-max){
            display: none;
        }
    }

    .reset-password-block {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 20px;
        height: 100% !important;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        max-width: 380px;
        margin: auto;
        position: relative;
        @include bp(xxlg-max){
            flex: 0 0 100%;
          
        }
        .logo{
            margin-bottom: 50px;
        }
        label {
            margin-bottom: 6px;
        }
        .btn {
            margin-bottom: 30px;
        }
    
        .mat-mdc-checkbox {
            margin-bottom: 20px !important;
        }
    
        p {
            margin-bottom: 0 !important;
            text-align: center;
            color: $gray-text !important;
        }
    
        a {
            text-decoration: none;
            color: $primary-text !important;
            text-align: center;
            font-size: 16px;
            &.btn{
                color: $white !important;
            }
        }
    
        .bottom-text {
            position: absolute;
            bottom: 0;
            a{
                color: inherit !important;
                text-decoration: underline;
            }
        }
    }

   
}