<div class="container-fluid">
    <div class="auth-block">
        <div class="custom-auth">
            <app-auth-custom> </app-auth-custom>
        </div>
        <div class="reset-password-block">
            <a href="/" title="School-Links" class="logo"><img src="./../../../../assets/imges/logos.svg"></a>
            <h2>Create a Password</h2>
            <label for="password">New password</label>
            <mat-form-field appearance="outline" class="custom-form-field">
                <input matInput placeholder="Enter new password" id="password" [type]="hide ? 'password' : 'text'">        
            </mat-form-field>
            <label for="password">Confirm password</label>
            <mat-form-field appearance="outline" class="custom-form-field" >
                <input matInput placeholder="Enter Confirm  password" id="password">        
            </mat-form-field>
        
            <a routerLink="/pages" mat-flat-button color="primary" class="btn primary-btn" title="Sign In">Sign In</a>
            <p>Already have an account? </p>
            <div class="auth-link">
                <a routerLink="./../login" title="Forgot Password" > Login</a>
            </div>
        
            <div class="bottom-text">
                <p>All rights reserved by <a href="/" title="School-Links">School-Links </a> |  &copy;2023</p>
            </div>
        </div>
    </div>
</div>