<section class="school-section">
    <div class="heading-block">
        <h3>My Schools</h3>
        <a routerLink="/pages/common-alert" mat-flat-button color="primary" class="btn secondary-btn bg-btn" title="Reset Password">
            <i><img src="./../../../../assets/imges/alerts.svg" /> </i> Send Emergency Alert </a>
    </div>
    <div class="search-block">
        <mat-form-field appearance="outline" class="custom-form-field custom-icon bg-search bg-field">

            <input matInput placeholder="Search Schools">
            <mat-icon matPrefix><img src="./../../../../assets/imges/search.svg"> </mat-icon>
        </mat-form-field>
        <button mat-button class="btn yellow-btn bg-btn">
            <i><img src="./../../../../assets/imges/schools.svg" /> </i> School not showing up?</button>
    </div>
    <div class="school-list">
        <div class="school-info-card">
            <div class="img-content-block">
                <div class="img-block">
                    <img src="./../../../../assets/imges/school-img-1.png" />
                </div>
                <div class="content-block">
                    <div class="content">
                        <h4>Nodoworry School</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here.</p>
                    </div>
                    <div class="vesit-website">
                        <a mat-button  routerLink="/pages/common-alert" class="btn red-btn " title="Reset Password">
                            <i><img src="./../../../../assets/imges/red-alert.svg" /> </i> Emergency Alert </a>
                            <a routerLink="/" title="Visit Website" mat-button  >Visit Website <i><img src="./../../../../assets/imges/left.svg"> </i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="school-info-card">
            <div class="img-content-block">
                <div class="img-block">
                    <img src="./../../../../assets/imges/school-img-2.png" />
                </div>
                <div class="content-block">
                    <div class="content">
                        <h4>Tooradin School</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here.</p>
                    </div>
                    <div class="vesit-website">
                        <a mat-button routerLink="/pages/common-alert" class="btn red-btn " title="Reset Password">
                            <i><img src="./../../../../assets/imges/red-alert.svg" /> </i> Emergency Alert </a>
                            <a routerLink="/" title="Visit Website" mat-button >Visit Website <i><img src="./../../../../assets/imges/left.svg"> </i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>